.img.card-img-top {
height: 2vh;
}

.buttonExp{
    background-color: #142972;
}

.btnState{
    background-color: #52C41A;
}

.legendM{
    width: 15vw;
    display: flex;
    justify-content: center;
    
    
    
}
.title {
    display: flex;
    justify-content: center;
    
    color: #DD3C48;


}

.subtitle {
    display: flex;
    justify-content: center;
    color: #142972;
    font-size: 2.5em;
    

}

.slogan {
    display: flex;
    justify-content: center;
    color: #142972;
    font-size: 1.5em;
    padding-bottom: 3em ;
    
}