@media screen and (max-width:800px){
    .footer{display: block !important;}

    .copy{
        margin-left: 20px !important;   
    
    }
       
}


.footer{
    margin-top: 50px;
    border-top: black solid 3px;
    background-color: #DD3C48;
    display: flex;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: row;
    
}

.contactos{
    margin: 30px 30px 30px;
    color: #142972;

    
}

.copy{
    margin-left: 840px;


}
