@media screen and (max-width:800px){
    .footer{display: block !important;}

    .copy{
        margin-left: 20px !important;   
    
    }
       
}


.footer{
    
    border-top: black solid 3px;
    background-color: #DD3C48;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1em;
}

.info{
    display: flex;
    flex-direction: row;
    color:whitesmoke
    
}

.contactos{
    margin: 30px 35px 30px;
    color: whitesmoke ;
    text-decoration:none;


    
}

.copy{
    margin-left: 840px;


}
